/*style input range*/
/*==================================*/
input[type=range] {
    height: 2rem;
    -webkit-appearance: none;
    width: 8rem;
    background: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.9rem;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 3px 3px 3px #2c2626;
    /* background: #3071A9; */
    background: linear-gradient( rgb(63, 56, 43) 0%, rgb(235, 202, 141) 100%);
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 2.2rem;
    width: 0.9rem;
    border-radius: 5px;
    background: wheat;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient( rgb(63, 56, 43) 0%, rgb(235, 202, 141) 100%);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: linear-gradient( rgb(63, 56, 43) 0%, rgb(235, 202, 141) 100%);
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: wheat;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    transition: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: linear-gradient( rgb(63, 56, 43) 0%, rgb(235, 202, 141) 100%);
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: linear-gradient( rgb(63, 56, 43) 0%, rgb(235, 202, 141) 100%);
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: wheat;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient( rgb(63, 56, 43) 0%, rgb(235, 202, 141) 100%);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient( rgb(63, 56, 43) 0%, rgb(235, 202, 141) 100%);
  }
  /*=================================================*/