body{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../images/background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

h1{
    color:wheat;
    text-decoration: underline;
    text-shadow: 2px 2px 4px black;

}

h2{
    color:whitesmoke;
    text-shadow: 2px 2px 4px black;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.introduction{
    text-align: center;
}

.introduction p {
    margin-top: 1.5rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    color: whitesmoke;
    font-size: 1.2rem;  
}

h3, h4{
    color:rgb(246, 237, 237);
    text-shadow: 4px 4px 6px black;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20));
    border: 3px wheat groove;
    max-width: 18rem;
    min-width: 15rem;
    margin: 1rem;
    padding: 5px;
    height: 100%;
    border-radius: 15px 15px 15px 15px;
}

.karac_form{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    margin-top: -1.5rem;
    min-width: 100%;
}


.titre_form{
    font-size: 1.5rem;
    text-decoration: underline;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    color:rgb(235, 139, 75);
    
}

.spanform{
    color:wheat;
}

.spanform2{
    margin-top: -0.5rem;
}

.power{
    display: flex;
    flex-wrap: wrap;

}

strong{
    text-decoration: underline;
    color: burlywood;
}

@media screen and (max-width: 400px) {

.power{
    flex-direction: column;
        
}

}
